
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
    <!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <title>售后服务</title>
    <!--样式引用-->
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/service.css">
    <link rel="stylesheet" href="../../css/help.css">
    <style>
        .flexBox{
            display: flex;
            display: -webkit-flex; /* Safari */
            flex-flow: row nowrap;
            justify-content:center;
        }
        .flexBox div{
            flex: 1
        }


    </style>
    <!--js引用-->
    <script src="../../js/jquery-1.7.1.min.js"></script>
    <script src="../../js/handlebars-v4.0.5.js"></script>
    <script src="../../js/charge/amount.js"></script>
</head>
<body>
<div class="whole-pg">
    <div class="main-view" style="position: relative;">
            <div id="amountInfo"></div>
    </div>
</div>

    <!--header-->
    <header>
       
        <span class="h-title">收费标准</span>
    </header>
    <!-- end header -->
    <div class="container">
        <div class="form_box">
            <div class="form_body" style="margin: 0;">
                <div class="con clearfix">
                    <section class="hot-question">
                        <div class="question-title">
                           	 收费事项
                        </div>
                        <ul class="teshu">
                            <li>*****************************************</li>
                            <li>*****************************************</li>
                            <li>*****************************************</li>
                            <li>*****************************************</li>
                            <li>*****************************************</li>
                            <li>*****************************************</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <footer>
    </footer>


</body>
</html>